.background{
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../../../public/assets/images/netflix.jpg'); 
	height: 100vh;
	background-position: center;
	background-size: cover;
}

