/* Default styles for the parent container */
.parent {
  color: #b91c1c;
  display: flex;
  border-radius: 10px;
  margin: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
}

/* Default styles for pagination */
.paginate {
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;

}


/*  */
.paginate li {
  border-radius: 0.5rem;
  font-size: 19px;
  font-weight: 700;
  margin: 6px;
  height: 100%;
  width: 100%;
}


/*  */
.PageLink{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}



.paginate li:hover {
  background-color: rgb(24, 24, 24);
  color: #9d0911;
}

/* Media query for responsive styling */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .parent {
    flex-direction: column; /* Stack items vertically */
    padding: 1.5rem; /* Add more padding for better spacing */
  }

  .paginate {
    margin-top: 1rem;
    justify-content: space-around;
     /* Add space between pagination and content */
  }

  .paginate li {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 1rem; /* Adjust padding for smaller screens */
  }
  
}