/* Default styles for the parent container */
.parent {
  color: #b91c1c;
  display: flex;
  border-radius: 10px;
  margin: 1.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  background-color: rgba(32, 31, 31, 0.9);
}

/* Default styles for pagination */
.pagi {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}



.pagi li {
  border-radius: 1rem;
  font-size: 19px;
  font-weight: 700;
  margin: 6px;
  padding: 2rem;
}

.pagi li:hover {
  background-color: rgb(24, 24, 24);
  color: #9d0911;
}

/* Media query for responsive styling */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .parent {
    flex-direction: column; /* Stack items vertically */
    padding: 1.5rem; /* Add more padding for better spacing */
  }

  .pagi {
    margin-top: 1rem;
    justify-content: space-around;
     /* Add space between pagination and content */
  }

  .pagi li {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 1rem; /* Adjust padding for smaller screens */
  }
  
}