#welcome-slider {
    background-color: rgb(10, 20, 20, 0.3) !important;
}

#welcome-slider .slide {
    height: 400px !important;
    display: flex;
    align-items: center;
}

#welcome-slider .slide > img {
    height: 100% !important;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    #welcome-slider .slide {
        height: 220px !important;
    }
}